<br>
<div style="width: 2rem;height: 2rem;position: fixed;bottom: 0;right: 0;z-index: 0;">
  <i nz-icon class="text-blue-light point" nzType="plus-circle" nzTheme="outline" (click)="create()"></i>
</div>

<nz-card>
  <nz-tabset nzType="card">
    <nz-tab *ngFor="let task of tasks" [nzTitle]="task.name">
      <div style="text-align: right">
        <i nz-icon class="text-blue-light point mr-lg"
           nzType="plus"
           nzTheme="outline"
           (click)="addTrigger(task)"></i>
        <i nz-icon class="text-blue-light point ml-md"
           nzType="edit"
           nzTheme="outline"
           (click)="editTask(task)"></i>
        <i nz-icon class="text-blue-light point ml-md"
           nzType="delete"
           nzTheme="outline"
           nz-popconfirm="Are you sure to delete?"
           (nzOnConfirm)="deleteTask(task)"></i>
      </div>
      <br>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12" *ngFor="let trigger of task.triggers">
          <nz-card [nzTitle]="trigger.name" [nzExtra]="triggerTpl">
            <ng-template #triggerTpl>
              <i nz-icon class="text-blue-light point ml-md"
                 nzType="right"
                 nzTheme="outline"
                 [nz-popconfirm]="'Are you sure to run?'"
                 (nzOnConfirm)="runTrigger(task, trigger)"></i>
              <i nz-icon class="text-blue-light point ml-md"
                 nzType="edit"
                 nzTheme="outline"
                 (click)="editTrigger(task, trigger)"></i>
              <i nz-icon class="text-blue-light point ml-md"
                 nzType="delete"
                 nzTheme="outline"
                 [nz-popconfirm]="'Are you sure to delete?'"
                 (nzOnConfirm)="deleteTrigger(task, trigger)"></i>
            </ng-template>
            <p *ngIf="trigger.cron != ''">Cron: {{trigger.cron}}</p>
            <div *ngIf="runs_map[trigger.id] && runs_map[trigger.id].length > 0">
              <nz-tag *ngFor="let item of runs_map[trigger.id]"
                      (click)="showLog(task.id, item)"
                      nzNoAnimation
                      [nzColor]="getRunColor(item.status,item.exit_code)" style="margin-bottom: 8px">
                {{formatFromNow(item.created_at)}}
              </nz-tag>
            </div>
            <span class="mr-lg" *ngIf="!trigger.recent_runs || trigger.recent_runs.length <= 0">
              <nz-tag nzNoAnimation [nzColor]="'gray'">No record</nz-tag>
            </span>
          </nz-card>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</nz-card>

